body{background-color:yellow;}

#content
{ padding:1px;
  border:1px solid 0000f;
  width:70%;
  height:100%;
  margin-left:auto;
  margin-right:auto;
  background-color:blue;
  
}

p{text-align:right;
 margin-top:100px;
   color:00ff;}
